.wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40%;
      grid-template-columns: auto 40%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    visibility: visible;
  }
}

.chatbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 56px auto;
      grid-template-rows: 56px auto;
  position: relative;
  background-color: white;
  --min-controls-height: 46px;
  --border-radius: 8px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 8px;
  background: var(--color-white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid var(--color-gray-v1);
}

.header .participant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.header .participant .text {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .participant .text .fullName {
  font-size: var(--font-size-heading);
  margin: 0;
  padding: 0;
  color: var(--color-gray-v3);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header .participant .text .lastActivity {
  font-size: var(--font-size-any-small);
  color: var(--color-gray-v2);
  margin: 0;
  padding: 0;
}

.header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.scrollableZone {
  background: var(--scollzone-surface);
  padding-bottom: var(--min-controls-height);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow-x: hidden;
  overflow-y: auto;
}

.controlsWrapper {
  background: var(--color-white);
  width: 100%;
  border-top: 1px solid var(--color-gray-v1);
  min-height: var(--min-controls-height);
  max-height: calc( 100% -  2 * var(--min-controls-height));
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  position: absolute;
  bottom: 0;
}

.controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputWrapper {
  width: 100%;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  font-size: 12px;
  scrollbar-width: thin;
}

.input * {
  font-size: 12px !important;
}

.btnControls {
  width: 100%;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid var(--color-gray-v1);
}

.btnControls .icons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btnControls .icons .icon {
  margin: 0px 4px;
}

.btnControls .icons .icon:hover {
  color: var(--color-primary);
}

.about {
  width: 100%;
  border-left: 1px solid var(--color-gray-v1);
  height: 100%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 56px auto;
      grid-template-rows: 56px auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.about .header {
  border-bottom: none;
}
/*# sourceMappingURL=ChatArea.module.css.map */