@import './variables.scss';

.page {
  min-height: 100vh;
  background: $colorSurface;
}

.header {
  background: $colorWhite;
  z-index: 100;
}

.main {
  z-index: 0;
}
@media only screen and (max-width: 900px) {
  .header {
    height: 10vh;
  }
  .main {
    height: 100vh;
    overflow-x: hidden;
  }
}
