.select {
    width: 21rem;
    margin-left: 1rem;
    height: 44px;
    color: #333333;
    font-size: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-family: Poppins;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    
  } 
  @media (max-width: 780px){
.css-1hmhlnh {
    margin-top: -69px;
    margin-left: 8px;
    margin-right: 8px;
}}